.ReactFlipCard {
  margin: 25px 0;
  text-align: center;
}
.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  box-sizing: border-box;
  width: 100%;
  min-height: 250px;
}
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 25px 25px 0 25px;
}
.ReactFlipCard__Front {
  background-color: #fafafa;
}
.ReactFlipCard__Back {
  background-color: #ffffff;
}

.ReactFlipCard .edit-card {
    position: absolute;
    right: 4px;
    top: 1px;
}

.ReactFlipCard .user-info {
    background: #00a1e1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    margin-left: -25px;
    margin-right: -25px;
    padding: 10px 0 10px 0;
}
